# =========================
# C#
# =========================
.vs/
bin/
obj/

# =========================
# Java / NetBeans
# =========================
build/
nbproject/private/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log
*.log

# =========================
# Sass
# =========================
*.css.map
/Mini-Projects/JAVA/PeluqueriaCanina/PeluqueriaCanina/dist/
