# Salidas de compilación de Ant (en cualquier subcarpeta)
**/build/
**/bin/
**/dist/

# Archivos compilados individuales
**/*.class

# Configuraciones de IDEs
**/.idea/
**/*.iml
**/.settings/
**/.classpath
**/.project
**/nbproject/private/
**/nbproject/genfiles.properties

# Logs y SO
**/*.log
**/.DS_Store
**/Thumbs.db